@CHARSET "UTF-8";
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html, body {
	font-family: "Helvetica Neue", "Microsoft YaHei", Helvetica, Arial, sans-serif;
	width: 100%;
    height: 100%;
	background: url(../images/background.png)  repeat ;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 310px;
	margin-bottom:10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 310px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}



.marketing{
	background:#fff;
	padding-top:20px;
	margin-bottom:20px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*Wrap
------------------------*/
#wrap{
	min-height: 100%;
    height: auto;
    margin: 0 auto -100px;
    padding: 0 0 100px;
}
/*Footer
------------------------*/
#footer {
	min-height: 100px;
	padding-top:20px;
	background: url(../images/footer_bg.png)  repeat;
}
#footer address .glyphicon {
	margin-right:10px;
}
.to-top{
	color:#eee;
}
.to-top:hover{
	color:#fff;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 767px) {
	.carousel {
	  height: 179px;
	}
	.carousel .item {
	  height: 179px;
	}
}

@media (max-width: 991px) {
	.carousel {
	  height: 270px;
	}
	.carousel .item {
	  height: 270px;
	}
	#video_sign{
		height:310px;
	}
}

@media (min-width: 768px) {
  /* Navbar positioning foo */

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

#video_sign{
	margin-bottom:20px;
	height:310px;
}
.panel-body{
	height:90px;
	overflow-y:auto;
}